In [24]:
import pandas as pd
from typing import List


def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    """Turn a list of student data into a DataFrame."""

    # Separate the columns
    student_ids, ages = zip(*student_data)

    # Create the dictionary
    data_dict = {"student_id": student_ids, "age": ages}

    # Create the DataFrame
    return pd.DataFrame(data_dict)


# Example
student_data = [[1, 15], [2, 11], [3, 11], [4, 20]]
df = createDataframe(student_data)
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [15]:
dict(zip(["student_id", "age"], [(1, 2, 3), (20, 21, 22)]))

{'student_id': (1, 2, 3), 'age': (20, 21, 22)}

In [ ]:
def add(a, b, c):
    return a + b + c


nums = [1, 2, 3]
result = add(*nums)  # Unpacks nums into add(1, 2, 3)
print(result)  # Output: 6

6

In [ ]:
def greet(*names):
    for name in names:
        print(f"Hello, {name}!")


greet("Alice", "Bob", "Charlie")
# Output:
# Hello, Alice!
# Hello, Bob!
# Hello, Charlie!

Hello, Alice!
Hello, Bob!
Hello, Charlie!

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = {**dict1, **dict2}  # Unpacks both dictionaries
print(combined)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [45]:
# Sample 5 row data
student_data = [[3, "Bob"], [1, "Alice"], [2, "Charlie"], [4, "David"], [5, "Eve"]]
df = pd.DataFrame(student_data, columns=["student_id", "name"])
df

   student_id     name
0           3      Bob
1           1    Alice
2           2  Charlie
3           4    David
4           5      Eve

In [43]:
# df.loc quickstart
df = pd.DataFrame(
    [[1, 2], [4, 5], [7, 8]],
    index=["cobra", "viper", "sidewinder"],
    columns=["max_speed", "shield"],
)
print(df)
print()

# Single label. Note this returns the row as a Series.
print(df.loc["viper"])
print()

# Single label for row and column
print(df.loc["cobra", "shield"])

print()

# Slice with labels for rows and single label for column.
print(df.loc["cobra":"viper", "shield"])

print()

# Boolean list with the same length as the row axis
print(df.loc[[False, False, True]])

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

max_speed    4
shield       5
Name: viper, dtype: int64

2

cobra    2
viper    5
Name: shield, dtype: int64

            max_speed  shield
sidewinder          7       8

In [49]:
for i in range(3):
    print(df.iloc[i])

student_id      3
name          Bob
Name: 0, dtype: object
student_id        1
name          Alice
Name: 1, dtype: object
student_id          2
name          Charlie
Name: 2, dtype: object

In [ ]:
df.head(3).apply(lambda row: print(row), axis=1)

student_id      3
name          Bob
Name: 0, dtype: object
student_id        1
name          Alice
Name: 1, dtype: object
student_id          2
name          Charlie
Name: 2, dtype: object

0    None
1    None
2    None
dtype: object

In [31]:
"""
| student_id | name    | age |
| ---------- | ------- | --- |
| 101        | Ulysses | 13  |
| 53         | William | 10  |
| 128        | Henry   | 6   |
| 3          | Henry   | 11  |
"""

import pandas as pd

# Create a DataFrame
student_data = [
    [101, "Ulysses", 13],
    [53, "William", 10],
    [128, "Henry", 6],
    [3, "Henry", 11],
]

df = pd.DataFrame(student_data, columns=["student_id", "name", "age"])

# Select row where student_id is 101
df[df["student_id"] == 101][["name", "age"]]

      name  age
0  Ulysses   13